@import "normalize";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";

.app {
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--on-bg-color);
  min-height: 100vh;
}

.page {
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 32px;
}
