.app_light_theme {
  --bg-color: #d9d9d9;
  --surface-color: #9f9f9f;
  --on-bg-color: #0d7e0d;
  --on-surface-color: #0d7e0d;
  --primary-color-500: #6366f1;
  --secondary-color-500: #ec4899;
  --error-300: #e84848;
  --error-500: #ce0505;
  --error-700: #810303;
}
