.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--surface-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.linksList {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 16px;
}

.linksItem {
  // empty
}
