.title {
  font: var(--font-size-l);
  color: var(--primary-color-500);
}

.text {
  font: var(--font-size-m);
  color: var(--secondary-color-500);
}

.error {
  .title {
    color: var(--error-300);
  }

  .text {
    color: var(--error-300);
  }
}
