.SharedButton {
  cursor: pointer;
  color: var(--on-surface-color);
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  padding: 10px 15px;
  border: 1px solid var(--primary-color-500);
  color: var(--primary-color-500);
  background: none;
}
